
<%if GAME.player1.choice != nil && GAME.player2.choice != nil %>

	<h3><%=GAME.player1.name%> choose: <%=GAME.player1.choice%></h3>
	<h3><%=GAME.player2.name%> choose: <%=GAME.player2.choice%></h3>

	<h2><%=GAME.choices%></h2>

<%else%>

	<p>Waiting for you opponent ... Please refresh</p>

<%end%>